{% extends 'base.html' %}

{% block title %} Area do Doador {% endblock %}

{% block content%}

<section id="conteudo">
    <div class="geral">
        <div class="titulo3">Olá, seja bem vindo <br> Escolha o que deseja fazer:</div>
        <div class="text-center">
            <div class="d-grid gap-1 d-md-block">
                <button class="btn btn-cadAdmin" type="button" onclick="">Atualizar dados</button>
                <button class="btn btn-cadAdmin" type="button" onclick="">Como Doar?</button>
            </div><br>

            <div class="d-grid gap-1 d-md-block">
                <button class="btn btn-cadAdmin" type="button" onclick="">Doações Realizadas</button>
                <button class="btn btn-cadAdmin" type="button" onclick="">Registrar Nova Doação</button>
            </div><br>

            <div class="d-grid gap-1 d-md-block">
                <button class="btn btn-cadAdmin" type="button" onclick="">Como Doar?</button>
                <button class="btn btn-cadAdmin" type="button" onclick="sairAdmin()">Sair</button>
            </div><br>
        </div>
    </div>
</section>

{% endblock %}